body {
    background-color: black;
    font-family: arial;
    color: white;
}
body {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center;     /* centers vertically */
    min-height: 100vh;       /* full screen height */
    flex-direction: column;  /* stack items top to bottom */
    text-align: center;
}

h1 {
    color: grey;
    font-family: verdana;
}

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}
